@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");
:root {
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  /* esto ultimo para que no se salga ningun elemento de la pantalla */
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  position: absolute;
  z-index: 3;

  animation: loader 2s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background-color: lightcoral;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}
.loader div:nth-child(2) {
  animation-delay: 0.4s;
}
.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav      aside"
    "section aside"
    "footer  aside";
  height: 100%;
  width: 100%;
}
